.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #FAEBD7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
}

.fas {
  font-size: 40px;
  cursor: pointer;
}

.generated-string {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
