<div class="header">
  <div #appTitle>
  </div>

  <div zoom [appColory]="'yellow'" class="generated-string" >
    {{generatedString}}
  </div>

  <div zoom class="cart-icon-wrapper" (click)="cartService.toggleCartList()">
    <i *ngIf="!cartService.isEmptyCart" class="fas fa-shopping-cart"></i>
    <i *ngIf="cartService.isEmptyCart" class="fas fa-cart-arrow-down"></i>
  </div>
</div>
<div class="main-wrapper">
  <app-product-list ></app-product-list>
  <app-cart-list *ngIf="cartService.isCartListShown"></app-cart-list>
</div>
