<div class="card">
  <div class="photo">
    <img class="image" [src]="product.image" alt="'product image'">
  </div>
  <div class="main">
    <div class="information">
      <p class="category">{{product.category | category}}</p>
      <p class="title">{{product.title}}</p>
      <p class="price">{{product.price | currency : '$' }}</p>
    </div>
    <div class="buttons">
      <div class="rating">
        {{ 'rating:' }}
        {{ product.rating}}
      </div>

      <button *ngIf="product.isAvailable else notAvailable"
              class="button"
              (click)="onAddToCart()"
      >
        add to cart
      </button>
    </div>
  </div>
</div>

<ng-template #notAvailable>
  <div class="out-of-stock">
    <p >
      {{OUT_OF_STOCK}}
    </p>
  </div>
</ng-template>
